.rufusdlbutton {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: greenyellow;
    border: solid 2px greenyellow;
    border-radius: 3px;
    transition: .4s;
}

.rufusdlbutton:hover{
    background: greenyellow;
    color: white;
}